{% extends 'layout-webfront.html' %}

{% block content %}
<div class="nch-breadcrumb-layout">
  </div>
<link href="http://127.0.0.1:71/shopnc/shop/templates/default/css/index.css" rel="stylesheet" type="text/css">
<!--[if IE 6]>
<script type="text/javascript" src="http://127.0.0.1:71/shopnc/data/resource/js/ie6.js" charset="utf-8"></script>
<![endif]-->
<style type="text/css">
.category { display: block !important;}
</style>
  <div class="clear"></div>

<!-- HomeFocusLayout Begin-->
<div class="home-focus-layout">
    
  <ul id="fullScreenSlides" class="full-screen-slides">
                                        <li style="background: #2D080F url('http://127.0.0.1:71/shopnc/data/upload/shop/editor/web-101-101-1.jpg?454') no-repeat center top">
            <a href="" target="_blank" title="冬季名品-大牌季节日">&nbsp;</a></li>
                                        <li style="background: #F6BB3D url('http://127.0.0.1:71/shopnc/data/upload/shop/editor/web-101-101-5.jpg?166') no-repeat center top">
            <a href="" target="_blank" title="全套茶具专场-年终盛典">&nbsp;</a></li>
                                        <li style="background: #36142C url('http://127.0.0.1:71/shopnc/data/upload/shop/editor/web-101-101-2.jpg?331') no-repeat center top">
            <a href="" target="_blank" title="女人再忙也要留一天为自己疯抢">&nbsp;</a></li>
                                        <li style="background: #f2f2f2 url('http://127.0.0.1:71/shopnc/data/upload/shop/editor/web-101-101-3.jpg?249') no-repeat center top">
            <a href="" target="_blank" title="全年爆款-年底清仓">&nbsp;</a></li>
                                        <li style="background: #ECBCB0 url('http://127.0.0.1:71/shopnc/data/upload/shop/editor/web-101-101-4.jpg?250') no-repeat center top">
            <a href="" target="_blank" title="清仓年末特优-满99元包邮">&nbsp;</a></li>
                                  
  </ul>
  <div class="jfocus-trigeminy">
    <ul>
                              <li>
                                        <a href="" target="_blank" title="佳节大献礼-茶满中秋"><img src="http://127.0.0.1:71/shopnc/data/upload/shop/editor/web-101-102-1-1.jpg?842" alt="佳节大献礼-茶满中秋"></a>
                          <a href="" target="_blank" title="孩子喜欢-遥控悍马"><img src="http://127.0.0.1:71/shopnc/data/upload/shop/editor/web-101-102-1-2.jpg?143" alt="孩子喜欢-遥控悍马"></a>
                          <a href="" target="_blank" title="天气凉了-情侣家居服"><img src="http://127.0.0.1:71/shopnc/data/upload/shop/editor/web-101-102-1-3.jpg?114" alt="天气凉了-情侣家居服"></a>
                                      </li>
                    <li>
                                        <a href="" target="_blank" title="越中国越时尚-水晶中国风"><img src="http://127.0.0.1:71/shopnc/data/upload/shop/editor/web-101-102-2-1.jpg?824" alt="越中国越时尚-水晶中国风"></a>
                          <a href="" target="_blank" title="领先全球首创-CoolTec冰爽剃须"><img src="http://127.0.0.1:71/shopnc/data/upload/shop/editor/web-101-102-2-2.jpg?851" alt="领先全球首创-CoolTec冰爽剃须"></a>
                          <a href="" target="_blank" title="健康中的专家-欧姆龙血压计"><img src="http://127.0.0.1:71/shopnc/data/upload/shop/editor/web-101-102-2-3.jpg?734" alt="健康中的专家-欧姆龙血压计"></a>
                                      </li>
                    <li>
                                        <a href="" target="_blank" title="TOPTO秋季格调-衬衫促销季"><img src="http://127.0.0.1:71/shopnc/data/upload/shop/editor/web-101-102-3-1.jpg?191" alt="TOPTO秋季格调-衬衫促销季"></a>
                          <a href="" target="_blank" title="骆驼早秋新品尝试-热销款推荐"><img src="http://127.0.0.1:71/shopnc/data/upload/shop/editor/web-101-102-3-2.jpg?628" alt="骆驼早秋新品尝试-热销款推荐"></a>
                          <a href="" target="_blank" title="识得女人香-冰希利娇真我系列"><img src="http://127.0.0.1:71/shopnc/data/upload/shop/editor/web-101-102-3-3.jpg?851" alt="识得女人香-冰希利娇真我系列"></a>
                                      </li>
                        </ul>
  </div>  
  <div class="right-sidebar">

    <div class="policy">
      <ul>
        <li class="b1">七天包退</li>
        <li class="b2">正品保障</li>
        <li class="b3">闪电发货</li>
      </ul>
    </div>
        <div class="groupbuy">
      <div class="title"><i>团</i>近期团购</div>
      <ul>
	  {% for group in group_list%}
                <li>
          <dl style=" background-image:url({{gthumb(group.groupbuy_image1)}})">
            <dt>{{ group.groupbuy_name}}</dt>
            <dd class="price"><span class="groupbuy-price">{{group.groupbuy_price}}</span><span class="buy-button"><a href="{{path('groupbuy/show/detail',{group_id:2})}}">立即团</a></span></dd>
            <dd class="time"><span class="sell">已售<em>{{group.buy_quantity}}</em></span>
			{% set stime = group.end_time %}
                <span class="time-remain" count_down="{{stime-TIMESTAMP}}"> <em time_id="d">0</em>天<em time_id="h">0</em>小时                    <em time_id="m">0</em>分<em time_id="s">0</em>秒 </span></dd>
          </dl>
        </li>
		{% endfor %}
               
              </ul>
    </div>
    <div class="proclamation">
    {% set show_article=data('Article',{name:'scgg'})%}
      <ul class="tabs-nav">
        <li class="tabs-selected">
          <h3>{{show_article.notice.ac_name}}</h3>
        </li>
        <li>
          <h3>招商入驻</h3>
        </li>
      </ul>
      <div class="tabs-panel">
        <ul class="mall-news">
        {% if show_article.notice.list%}
        {% for notice in show_article.notice.list %}
                                <li><i></i><a target="_blank" href="{{path('index',{article_id:notice.article_id})}}" title="{{notice.article_title}}">{{notice.article_title|cut_str(24)}}</a>
            <time>({{notice.article_time|date('y-m-d')}})</time> </li>
        {% endfor %}
		{% endif %}      
                            </ul>

      </div>
      <div class="tabs-panel tabs-hide">
        <a href="http://127.0.0.1:71/shopnc/shop/index.php?act=store_joinin&op=index" title="申请商家入驻；已提交申请，可查看当前审核状态。" class="store-join-btn" target="_blank">&nbsp;</a>
        <a href="http://127.0.0.1:71/shopnc/shop/index.php?act=document&op=index&code=open_store" target="_blank" class="store-join-help"><i class="icon-question-sign"></i>查看开店协议</a>

        </div>
    </div>
  </div>
</div>
<!--HomeFocusLayout End-->

{{web_html.index | raw}}

<!--StandardLayout End-->
  <div class="wrapper">
  <div class="mt10"></div>
  </div>
<script type="text/javascript" src="http://127.0.0.1:71/shopnc/shop/resource/js/home_index.js" charset="utf-8"></script>

{% endblock %}